@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lista de Advogados - OAB</h1>
    <p class="lead">Consumindo webservice OAB</p>
</div>


<div class="alert alert-danger" id="alerta" hidden>
</div>

<div class="row">
    <div class="col-md-4">
        <label>Inscrição:</label>
        <input type="text" class="form-control" id="inscricao" />
    </div>
</div>

<br />
<div class="row">
    <div class="col-md-4">
        <label>UF:</label>
        <select class="form-control" id="uf">
            <option selected="selected">SELECIONE...</option>
            <option value="AC">AC</option>
            <option value="AL">AL</option>
            <option value="AM">AM</option>
            <option value="AP">AP</option>
            <option value="BA">BA</option>
            <option value="CE">CE</option>
            <option value="DF">DF</option>
            <option value="ES">ES</option>
            <option value="GO">GO</option>
            <option value="MA">MA</option>
            <option value="MG">MG</option>
            <option value="MS">MS</option>
            <option value="MT">MT</option>
            <option value="PA">PA</option>
            <option value="PB">PB</option>
            <option value="PE">PE</option>
            <option value="PI">PI</option>
            <option value="PR">PR</option>
            <option value="RJ">RJ</option>
            <option value="RN">RN</option>
            <option value="RO">RO</option>
            <option value="RR">RR</option>
            <option value="RS">RS</option>
            <option value="SC">SC</option>
            <option value="SE">SE</option>
            <option value="SP">SP</option>
            <option value="TO">TO</option>
        </select>
    </div>
</div>

<br />
<div class="row">
    <div class="col-md-12">
        <label>Nome:</label>
        <input type="text" class="form-control" id="nome" />
    </div>
</div>

<br />
<div class="row">
    <div class="col-md-12">
        <input type="button" class="btn btn-primary" value="Buscar" id="buscar" />
    </div>
</div>

<hr />
<table id="tabela-advogados" class="table table-responsive table-bordered">
    <thead>
        <tr>
            <th>Inscrição</th>
            <th>Nome</th>
            <th>Organização</th>
            <th>Situação</th>
        </tr>
    </thead>
</table>

@section scripts{

    <script src="~/Scripts/site.js"></script>
}